.main-container-kj {
  width: 100%;
}

.categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.heading {
  color: Red;
  align-self: flex-start;
  font-family: 'Bree serief';
}
