.weather-container {
  align-self: flex-end;
  background-color: white;
  display: flex;
  align-items: center;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
}
.icon-weather {
  color: black;
}
.text {
  color: black;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
